<template>
  <div class="calculator">
    <form class="calculator__form">
      <input
        type="text"
        class="calculator__lastResult"
        readonly="readonly"
        v-model="lastResult"
        placeholder="0"
      />
      <input
        type="text"
        class="calculator__enter"
        readonly="readonly"
        v-model="result"
        placeholder="0"
      />
      <input
        type="text"
        class="calculator__result"
        readonly="readonly"
        v-model="sum"
        placeholder="0"
      />
    </form>
    <div class="calculator__buttonsContainer">
      <!--если не нужно выводить на экран и сбросить-->
      <div
        class="calculator__buttons"
        id="buttons"
        v-for="item in buttons"
        :key="item.label"
      >
        <CalcButton
          v-on:click="item.function ? item.function() : clickBtn(item.label)"
          :label="item.label"
        />
      </div>
    </div>
  </div>
</template>

<script setup>
import CalcButton from "@/components/CalcButton.vue";
import { ref } from "vue";

const buttons = ref([
  { label: "C", function: Reset, type: "String" },
  { label: "AC", function: ResetHistory, type: "String" },
  { label: "%", type: "Symbol" },
  { label: "/", type: "Symbol" },
  { label: 7, type: "Number" },
  { label: 8, type: "Number" },
  { label: 9, type: "Number" },
  { label: "*", type: "Symbol" },
  { label: 4, type: "Number" },
  { label: 5, type: "Number" },
  { label: 6, type: "Number" },
  { label: "-", type: "Symbol" },
  { label: 1, type: "Number" },
  { label: 2, type: "Number" },
  { label: 3, type: "Number" },
  { label: "+", type: "Symbol" },
  { label: 0, type: "Number" },
  { label: "(", type: "Symbol" },
  { label: ")", type: "Symbol" },
  { label: "=", function: Calc, type: "String" },
  { label: "⌫", function: Delete, type: "Symbol" },
]);

let result = ref("");
let sum = ref("");
let lastResult = ref([]);

function clickBtn(char) {
  result.value += char.toString();
  sum.value = eval(result.value);
}

function Calc() {
  lastResult.value.push(result.value + "=" + sum.value);
  result.value = eval(result.value);
}

function Reset() {
  result.value = "";
  sum.value = "";
}

function ResetHistory() {
  lastResult.value = "";
  Reset();
}

function Delete(e) {
  result.value = result.value.slice(0, -1);
  sum.value = eval(result.value);
}
</script>

<style lang="scss" scoped>
.calculator {
  width: 500px;
  height: auto;
  background-color: #333333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;

  &__form {
    display: flex;
    flex-direction: column;
    padding: 50px 30px 30px 0;
    position: relative;

    &:after {
      content: "";
      width: 90%;
      height: 2px;
      background: -webkit-linear-gradient(110deg, #e66291, #7f7de9);
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0px);
      bottom: 0;
    }
  }

  &__enter,
  &__result,
  &__lastResult {
    height: 60px;
    border: none;
    background-color: #333333;
    text-align: right;
    color: #676767;
    font-size: 42px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    padding: 10px 0;
    outline: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
  }

  &__result {
    color: #ffffff;
  }

  &__lastResult {
    font-size: 20px;
  }

  &__buttonsContainer {
    padding: 50px 25px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }

  &__buttons {
    width: 90px;
    height: 60px;
    background: #878787;
    margin-bottom: 20px;
    border-radius: 25%;
    margin-right: 15px;
    align-items: center;
    display: flex;

    &:active {
      box-shadow: -2px 4px hsl(0, 0%, 75%), 0px -1px hsl(0, 0%, 75%),
        inset 0 1px 2px hsl(0, 0%, 95%), inset 0 -1px 2px hsl(0, 0%, 95%);
    }

    &:nth-child(4n + 4) {
      margin-right: 0;
      background: -webkit-linear-gradient(110deg, #e66291, #7f7de9);

      &:active {
        box-shadow: -2px 4px hsl(271deg 60% 39%), 0px -1px hsl(271deg 60% 39%),
          inset 0 1px 2px hsl(271deg 60% 39%),
          inset 0 -1px 2px hsl(271deg 60% 39%);
      }
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      background: -webkit-linear-gradient(110deg, #e66291, #7f7de9);

      &:active {
        box-shadow: -2px 4px hsl(271deg 60% 39%), 0px -1px hsl(271deg 60% 39%),
          inset 0 1px 2px hsl(271deg 60% 39%),
          inset 0 -1px 2px hsl(271deg 60% 39%);
      }
    }
  }
}
</style>
