<template>
  <button type="button" class="CalcButton">{{ label }}</button>
</template>

<script setup>
defineProps({
  label: [String, Number],
});
</script>

<style lang="scss" scoped>
.CalcButton {
  display: flex;
  margin: auto auto;
  background: transparent;
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  width: 90px;
  height: 60px;
  align-items: center;
  justify-content: center;
}
</style>
